loggers_env/
*.mp3
*.keystxt
*screen.jpeg
*.mousetxt
*.wav
*.zpaq
*.zip
*log.txt

# Default ignored files
/shelf/
/workspace.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# .idea stuff
.idea
.idea/
